importlib_metadata==1.6.0
Cython==0.29.2
numpy==1.15.4
cryptography==2.4.2
lxml==4.2.5
zipp==2.2.0
keyring==17.0.0
pytest==4.0.2
greenlet==0.4.15
blinker==1.4
brotli==1.0.7
cdecimal==2.3
cx_Oracle==7.3.0
dataclasses==0.7
ipaddr==2.2.0
lockfile==0.12.2
mx==3.2
mypy_extensions==0.4.3
ordereddict==1.1
pgdb==0.0.8
pretty==0.1
protobuf==3.12.2
pyOpenSSL==19.1.0
pysqlcipher3==1.0.3
pysqlite==2.8.3
pytest_xdist==1.32.0
python-dotenv==0.13.0
simplejson==3.17.0
Sybase==0.35
toml==0.10.1
watchdog==0.10.2
wincertstore==0.2
